<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <form action="index.php?p=Admin&c=User&a=insert" method="post">
            用户名<input type="text" name="userName"/><br/>                
            密码<input type="password" name="userPwd"/><br/>
            是否制作缩略图<input type="checkbox" value="55" checked="checked" name="isThumb"/><br/>
            <input type="submit" value="提交"/>
        </form>
    </body>
</html>
